*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html - estructura */
html{
    height: 100%;
}

/* body - contenedor principal */
body{
    min-height: 100%;
    display: grid;
    background-color: #000E50;
    color: white;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 20% auto 15%;
    font-size: 62.7%;
}

/* header - cabecera */
.header{
    grid-area: header;
}
/* nav - menu de navegacion */
.nav{
    margin:  2%;
}
.nav ul{
    text-align: end;
}
/* li - listas */
.nav ul li{
    display: inline;
    list-style-type: none;
    margin: -1%;
}
.mismo_color{ 
    font-size: 1.5rem;
    color: #000E50;
    text-decoration: none;
    background-color: #BADFEF;
    padding: 2% 5%;
    text-shadow: .1em .1em .2em #000E50;
}
.presentacion{
    background-color: white;
    color: #000E50;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 2% 5%;
    text-shadow: .1em .1em .2em #000E50;
}
.nav ul li a:hover{
    background-color: white;
    transition: .9s;
}

/* main - contenido principal */
.main{
    grid-area: main;
}
.main h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 3%;
}
.container_div{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    justify-content: center;
    
}
.container_div div{
    border-radius: 1vw;
    border: .5vw solid black;
    margin: 3%;
    background-color: #BADFEF;
    color: #000E50;
    padding: 1%;
}
.container_div h3{
    font-size: 2em;
    margin-bottom: 1.5%;
}
.container_div p{
    margin: 3%;
    font-size: 1.5em;
}

/* footer - pie de pagina */
.footer{
    grid-area: footer;
    margin: auto;
    text-align: center;
}
.footer p{
    font-size: 2em;
}

@media (max-width:600px){
    /* body - contenedor principal */
    body{
    grid-template-rows: 7% auto 5%;
    }
       /* header - cabecera */
    .header{
    grid-area: header;
    margin: auto;
    }
    .nav{
        text-align: center;
    }
    /* li - listas */
    .nav ul li{
        display: block;
        list-style-type: none;
        padding: 2%;
        margin: 2% auto;
        text-align: center;
    }
    .nav ul li a{ 
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        background-color: black;
        padding: 2%;
    }
    .nav ul li a:hover{
        background-color: white;
        color: #000E50;
        border-radius: 1vw;
    }

    /* main - contenido principal */
    .container_div{
        grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
    }
    /* footer - parrafo */
    .footer{
        padding-bottom:15%;
    }
.footer p{
    font-size: 2em;
    padding-top: -3%;
}
}